<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog Page</a></li>
                <li><a href="/newpost">Add a New Post</a></li>
                
            </ul>
            <ul id="user-account">
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>   
        </nav>
        {% with messages = get_flashed_messages() %}
            <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}


        {% block content %}

        
        {% endblock %}

           
        </h1>

    
    </body>
</html>
